* {
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
}

h2 {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

@media (max-width: 987px) {
  .container {
    max-width: 90%;
  }
}
