.home {
  padding-top: 40px;
  padding-bottom: 104.06px;
}

.home__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.card__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  max-width: 130px;
}

.card__subtitle {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  max-width: 160px;
  padding-bottom: 12px;
}

.home__img {
  width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  .home__card {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  .home {
    padding-top: 10px;
    padding-bottom: 83px;
  }
}
