.header__navbar {
  display: flex;
  justify-content: space-between;
}

.container-header {
  border-bottom: 1px solid #828282;
}

.navbar__link {
  padding-top: 33px;
  padding-bottom: 32px;

  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  text-decoration: none;

  transition-property: color;
  transition-duration: 0.3s;
}

.navbar__link:hover,
.nav__link:hover {
  color: #070707;
}

.navbar__link:active,
.nav__link:active {
  transform: scaleX(1.07) scaleY(1.07);
}

.burger__menu {
  position: fixed;
  opacity: 0;
}

.burger__button {
  display: block;
  position: absolute;
  right: 30px;
  top: 60px;
  width: 33px;
  height: 19.2px;
  z-index: 1;

  cursor: pointer;
  visibility: hidden;
}

.burger__button > span,
.burger__button > span::before,
.burger__button > span::after {
  display: block;
  position: absolute;
  top: 7.68px;
  width: 33px;
  height: 3.84px;

  background-color: #000000;
  transition-duration: 0.25s;
}

.burger__button > span::before {
  top: -7.68px;

  content: "";
}
.burger__button > span::after {
  top: 7.68px;

  content: "";
}

.burger__menu:checked ~ .burger__nav {
  visibility: visible;
  right: 0;
}

.burger__menu:checked ~ .burger__button {
  position: fixed;
}

.burger__menu:checked ~ .burger__button > span {
  transform: rotate(45deg);
}

.burger__menu:checked ~ .burger__button > span::before {
  top: 0;

  transform: rotate(0);
}

.burger__menu:checked ~ .burger__button > span::after {
  top: 0;

  transform: rotate(90deg);
}

.burger__nav {
  display: block;
  padding-top: 66px;
  padding-left: 26px;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 792px;

  background-color: #ffffff;
  list-style: none;

  transition-duration: 0.25s;
}

.nav__link {
  display: block;
  margin-bottom: 68px;
  width: 70%;

  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #828282;

  text-decoration: none;

  transition-duration: 0.25s;
}

@media (max-width: 784px) {
  .container-header::after {
    display: none;
  }
  .header__navbar {
    display: none;
  }
  .burger__button {
    visibility: visible;
  }
  .container-header {
    border-bottom: 0;
  }
}
