.contacts {
  text-align: center;
  padding-bottom: 20.03px;
}

.container-contacts {
  padding-top: 114.24px;
  padding-bottom: 123.19px;
}

.contacts__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding-bottom: 20.03px;
}

.contacts__text_size_m {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  padding-bottom: 29.6px;
}

.contacts__button {
  background-color: black;
  color: white;
  display: block;
  margin: 0 auto;
  width: 180.5px;
  height: 42px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 21px;
  margin-bottom: 85.78px;
}

.contacts__social-network {
  max-width: 342.19px;
  width: 342.19px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45.98px;
}

.contacts__text_size_s {
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
