.contacts {
  padding-bottom: 20.03px;

  text-align: center;
}

.container-contacts {
  padding-top: 114.24px;
  padding-bottom: 123.19px;
}

.contacts__title {
  padding-bottom: 20.03px;
}

.contacts__text_size_m {
  padding-bottom: 29.6px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  max-width: 290px;
  margin: 0 auto;
}

.contacts__button {
  display: block;
  width: 180.5px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 85.78px;

  color: white;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  background-color: black;
  border-radius: 21px;
}

.contacts__button:hover {
  opacity: 0.9;
}

.contacts__button:active {
  opacity: 0.8;
  transform: scaleX(1.07) scaleY(1.07);
}

.contacts__social-network {
  display: flex;
  justify-content: space-between;
  max-width: 342.19px;
  margin: 0 auto;

  margin-bottom: 45.98px;
}

.contacts__text_size_s {
  max-width: 245px;
  margin: 0 auto;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.social-network__link:hover {
  opacity: 0.9;
}

.social-network__link:active {
  opacity: 0.8;
  transform: scaleX(1.07) scaleY(1.07);
}

@media (min-width: 375px) and (max-width: 968px) {
  .container-contacts {
    padding-top: 82px;
    padding-bottom: 90px;
  }

  .contacts__title {
    padding-bottom: 27.03px;
  }

  .contacts__text_size_m {
    padding-bottom: 39.84px;
  }

  .contacts__button {
    margin-bottom: 48px;
  }

  .contacts__social-network {
    margin-bottom: 49px;
  }
}
