.container-header {
  padding-top: 32.99px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  text-decoration: none;

  transition-property: color;
  transition-duration: 0.3s;
}

.navbar__link:hover {
  color: #070707;
}

.navbar__link:active {
  transform: scaleX(1.07) scaleY(1.07);
}

.header-hr {
  height: 0px;
  margin: 0;
  margin-top: 31px;

  border: 1px solid #828282;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (min-width: 375px) and (max-width: 968px) {
  .container-header {
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* @media (min-width: 375px) and (max-width: 500px) {
  .home__card {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  .card__title {
    padding-left: 26px;
  }
  .card__subtitle {
    padding-left: 28px;
  }
  .home__img {
    padding-left: 29px;
    padding-right: 29px;
  }
} */
