.contacts {
  padding-bottom: 20.03px;

  text-align: center;
}

.container-contacts {
  padding-top: 114.24px;
  padding-bottom: 123.19px;
}

.contacts__title {
  padding-bottom: 20.03px;
}

.contacts__text_size_m {
  padding-bottom: 29.6px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.contacts__button {
  display: block;
  width: 180.5px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 85.78px;

  color: white;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  background-color: black;
  border-radius: 21px;
}

.contacts__social-network {
  display: flex;
  justify-content: space-between;
  max-width: 342.19px;
  margin: 0 auto;

  margin-bottom: 45.98px;
}

.contacts__text_size_s {
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

@media (min-width: 375px) and (max-width: 968px) {
  .container-contacts {
    padding: 82px 28px 70px 28px;
  }

  .contacts__button {
    margin-bottom: 60px;
  }
}
