.about-me {
  background-color: #f6f6f6;
}

.container-about-me {
  padding-top: 120.25px;
  padding-bottom: 107px;
}

.about-me__title {
  margin-bottom: 17.69px;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 485px;
  height: 218px;
  margin: 0 auto;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

@media (max-width: 987px) {
  .container-about-me {
    padding-top: 81px;
    padding-bottom: 76px;
  }
}

@media (max-width: 531px) {
  .about-me__text {
    width: 90%;
    height: 261px;
  }
}
