.container-skills {
  padding-top: 91px;
  padding-bottom: 110.06px;
}

.skills__title {
  padding-bottom: 69.1px;
}

.skills__subtitle {
  padding-bottom: 83.49px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.skills__soft {
  display: flex;
  justify-content: space-between;
}

.soft__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 166.46px;
}

.card__img {
  margin: 0 auto 23.03px auto;
}

.card__text {
  margin-bottom: 41.41px;

  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.card__text:last-child {
  margin-bottom: 56.96px;
}

.card__star {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 375px) and (max-width: 968px) {
  .container-skills {
    padding: 83px 28px 16px 28px;
  }
  .skills__title {
    padding-bottom: 50px;
  }
  .skills__subtitle {
    padding-bottom: 71px;
  }
  .soft__card {
    margin: 0 20px 82px 20px;
  }
}

@media (min-width: 676px) and (max-width: 881px) {
  .skills__soft {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 375px) and (max-width: 676px) {
  .skills__soft {
    flex-wrap: wrap;
    justify-content: center;
  }
}
