@import "style-header.css";
@import "style-home.css";
@import "style-about-me.css";
@import "style-skills.css";
@import "style-portfolio.css";
@import "style-contacts.css";

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url(../fonts/Gilroy-Bold.woff2) format("woff2"),
    url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url(../fonts/Gilroy-Medium.woff2) format("woff2"),
    url(../fonts/Gilroy-Medium.woff) format("woff");
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
}
